{% extends "base.html" %}

{% block content %}
<h1>Добавление продажи</h1>
<form method="POST">
    <div class="form-group">
        <label for="sale_date">Дата продажи:</label>
        <input type="date" id="sale_date" name="sale_date" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="sale_price">Цена продажи:</label>
        <input type="text" id="sale_price" name="sale_price" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="commission">Комиссия:</label>
        <input type="text" id="commission" name="commission" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="status">Статус:</label>
        <input type="text" id="status" name="status" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить продажу</button>
</form>
{% endblock %}
